<div class="lg:mx-52 2xl:mx-72">
  <div
    id="g_id_onload"
    data-client_id="410319310870-9vosufrp4ejec933c9ttk043m3vl1nqv.apps.googleusercontent.com"
    data-context="signin"
    data-ux_mode="popup"
    data-login_uri="http://localhost:4200/education"
    data-itp_support="true"
  ></div>

  <div
    class="g_id_signin"
    data-type="standard"
    data-shape="rectangular"
    data-theme="outline"
    data-text="signin_with"
    data-size="large"
    data-logo_alignment="left"
  ></div>
  <div class="p-4">
    <!-- <div class="">
      <om-typewriter
        class=""
        [words]="['Software Engineer', 'Vishnu Vardhan']"
        [writeSpeed]="150"
      ></om-typewriter>
    </div> -->
    <!-- <span
      class="animated-background inline-block text-6xl font-bold bg-gradient-to-r from-indigo-500 to-pink-600 bg-clip-text text-transparent"
    >
      <br />
      Working on creating applications using Angular and Django Rest Framework
    </span> -->
  </div>
 
</div>
