<div class="lg:mx-52 2xl:mx-72  w-1/2 inline-block">
    <div class="p-4">
        <div class="inline-block">
          
              My name is
              <om-typewriter
                [words]="['Vishnu Vardhan']"
                [writeSpeed]="150"
              ></om-typewriter>
           
          </div>
          <span>
            . A recent graduate from the University of North Carolina at Greensboro with
            a major in Computer Science. I am a passionate and driven individual with a
            strong foundation in technology and problem-solving. Outside of academics, I
            am a sports enthusiast with a deep love for cricket, which has taught me the
            value of teamwork, strategy, and resilience.
          </span>
    </div>
  
</div>
