<div class="lg:mx-52 2xl:mx-72 inline-block">
  <div class="p-4">
    <div class="">
      <om-typewriter
        class=""
        [words]="['Software Engineer', 'Vishnu Vardhan']"
        [writeSpeed]="150"
      ></om-typewriter>
    </div>
    <span
      class="animated-background inline-block text-6xl font-bold bg-gradient-to-r from-indigo-500 to-pink-600 bg-clip-text text-transparent"
    >
      <br />
      Working on creating applications using Angular and Django Rest Framework
    </span>
  </div>
</div>
