<nav class="sticky top-0">
  <div class="lg:mx-52 2xl:mx-72 border-b-2 bg-gray-50/25">
    <ul class="flex justify-between p-4">
      <li><a class="{{ styles }}" routerLink="/home">Home</a></li>
      <li><a class="{{ styles }}" routerLink="/education">Education </a></li>
      <li>
        <a class="{{ styles }}" routerLink="/work-experience">
          Work Experience
        </a>
      </li>
      <li><a class="{{ styles }}" routerLink="/projects">Projects </a></li>
      <li><a class="{{ styles }}" routerLink="/skills">Skills</a></li>
      <li>
        <a class="{{ styles }}" routerLink="/certifications">Certifications</a>
      </li>
      <li><a class="{{ styles }}" routerLink="/contactus">Contact Us</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
